<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="./css/main.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
<div class="v32_7">
  <h1 class="v29">Login</h1>
  <div class="v351">
    <form name="tomain" action="main" method="post"><input name="email" class=v35 type=text" class="v36" placeholder="Email">
  <p></p>
  <input class="v35" name="password" type="text" class="v36" placeholder="Password">
  <p></p>
  <button type="submit" class="v67"> Login in account </button>
    </form>
      <div>
    <button onclick="location.href='{{crt}}'" class="v671">Create account</button>
      </div>
  </div>
</div>
</body>
</html>
