<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="./css/main.css" rel="stylesheet" />
    <title>Main</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
  <div class="v34">
    <div>
      <h1 class="v77">Lessons <img src="static/textalign-right.png" class="v82"></h1>
    </div>
    <div>
      <button onclick="location.href='{{less}}';" class="v78"> <span class="v80"><img src="static/car.png"></span>
        <span class="v76"> <img src="static/Line%206.png"></span> <span class="v75"> Introduction to Driving <span class="v81"><img src="static/strelka_vpravo_t0c69rqyu7rt_32.png"></span></span>

      </button>
      </div>
    <p></p>
    <div>
      <button onclick="location.href='{{obs}}';" class="v78"> <span class="v80"><img src="static/vector.png"> </span>
                           <span class="v76"><img src="static/Line%206.png"></span> <span class="v75">  Observation at Juctions <span class="v81"><img src="static/strelka_vpravo_t0c69rqyu7rt_32.png"></span></span>
      </button>
      </div>
    <p></p><div>
      <button onclick="location.href='{{rep}}';" class="v78"> <span class="v80"><img src="static/SVGRepo_iconCarrier.png"></span>
                           <span class="v76"><img src="static/Line%206.png"></span> <span class="v75">  Reverse Parallel Parking<span class="v81"><img src="static/strelka_vpravo_t0c69rqyu7rt_32.png"></span> </span>
      </button>
      </div>
    <p></p><div>
      <button onclick="location.href='{{rev}}';" class="v78"> <span class="v80"><img src="static/SVGRepo_icon.png"></span>
                           <span class="v76"> <img src="static/Line%206.png"></span> <span class="v75"> Reverse Around Corner<span class="v81"><img src="static/strelka_vpravo_t0c69rqyu7rt_32.png"></span> </span>
      </button>
      </div>
    <p></p><div>
      <button onclick="location.href='{{inc}}';" class="v78"> <span class="v80"><img src="static/SVGRepo.png"></span>
        <span class="v76"> <img src="static/Line%206.png"> </span> <span class="v75">Incorrect Use of Signals<span class="v81"><img src="static/strelka_vpravo_t0c69rqyu7rt_32.png"></span> </span>
      </button>
      </div>
    <p></p>
    <div class="v83"><button class="v84"><img src="static/bloknot_lh495kf32sqn_64.png"></button><button class="v84"><img src="static/kalendar_8r24d8f769sd_64.png"></button><button class="v84"><img src="static/bloknot_lh495kf32sqn_64.png"></button><button class="v84"><img src="static/polzovatel_9r538lw1lx01_64.png"></button>
  </div>
</body>
</html>
